html, body{
    height: 100%;
    overflow: hidden;
}

.view {
    display: block;
    width: 200px;
    height: 200px;
    border: 2px solid #ccc;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
}

.blue-border {
    border: 2px solid blue;
}

.painter, .baseplate {
    position: absolute;
    box-shadow: 2px 2px 30px 5px grey;  // h-shadow v-shadow blur spread color inset
    margin: auto;
    top: 100px;
    bottom: 0;
    left: 0;
    right: 0;
}

.baseplate {
    z-index: -1;
}

